/NetBeanse/JavaApplication1/build/
*.class
/NetBeanse/JDBC/nbproject/private/
/NetBeanse/JDBC/build/
/NetBeanse/JDBC/dist/
/NetBeanse/JAVA/nbproject/private/
/NetBeanse/Banking/nbproject/private/
/NetBeanse/Marksheet/nbproject/private/
/NetBeanse/Marksheet/build/
/NetBeanse/Servlet/nbproject/private/
/NetBeanse/Servlet/build/
/NetBeanse/WebApplication1/nbproject/private/
/NetBeanse/WebApplication2/nbproject/private/
/NetBeanse/WebApplication2/build/
/NetBeanse/servlet1/nbproject/private/
/NetBeanse/servlet1/build/
/JSP/nbproject/private/
/JSP/build/
/Jsp2/nbproject/private/
/Preeti/nbproject/private/
/Preeti/build/
/JSPProject/nbproject/private/
/JSPProject/build/
/JSTL/nbproject/private/
/JSTL/build/
/NewJSP/nbproject/private/
/NewJSP/build/
/MVCProject/nbproject/private/
/JSPProject/dist/
/MVCProject/build/
/MVCProject/dist/
/My-Shop/nbproject/private/
/My-Shop/build/
/Hibernate/nbproject/private/
/Hibernate/build/
/Hibernat2/nbproject/private/
/Hibernat2/build/
/Hibernate/dist/
/Hbn/nbproject/private/
/Hbn/build/
/Hbn/dist/
/HBN/nbproject/private/
/HBN/build/
/HBN-5/nbproject/private/
/HBN-5/build/
/HBN-5/dist/
/HBN-6/nbproject/private/
/HBN-6/build/
/HBN-6/dist/
/My-Hibernate/nbproject/private/
/My-Hibernate/build/
